@import '../../styles/_RootSettings';

.LandingPage {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    color: $PurpScurp;
    background: $PaleBanana;
}

.header {
    margin: 30px 0;
    font-family: $CurlyFont;
    font-size: 4em;
}

.pageHalf {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 120px;
}