@import '../../styles/_RootSettings';

.LandingPage {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: $PurpScurp;
    background: $PaleBanana;
}

.header {
    font-family: $CurlyFont;
    font-size: 4em;
    margin-bottom: 10vh;
}

@media screen and (min-width: 760px) {
    .header {
        font-size: 6em;
    }
}

// .pageHalf {
//     display: flex;
//     flex-flow: column;
//     align-items: flex-start;
//     justify-content: space-evenly;
//     min-height: 120px;
// }