 .grid-container {
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.5fr 0.4fr 1.9fr 0.3fr;
    gap: 7px 0px;
    grid-template-areas:
      "NavBar"
      "Header"
      "Listings"
      "Footer";
  }
  
  .Header { grid-area: Header; }
  
  .NavBar { grid-area: NavBar; }
  
  .GetListings { grid-area: GetListings; }
  
  .Footer { grid-area: Footer; }