@import '../../styles/_RootSettings';

.profileContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "img detail detail"
        "img detail detail"
        "img detail detail"
        "button button button";
    background: $MoreWhite;
    padding: 20px 0;
    .profileImg {
        grid-area: img;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
    }
    .profileDetailsColumn {
        grid-area: detail;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        span {
            margin-left: 1px;
        }
    }
    .editButton {
        grid-area: button;
    }
}