@import '../../styles/_RootSettings';

.profileWrapper {
    background: $MoreWhite;
    .profileContainer {
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 20% 80%;
        grid-column-gap: 20px;
        grid-template-areas: 
            "faCog faCog"
            "img detail";
        padding: 20px 0;
        max-width: 660px;
        .faCog {
            grid-area: faCog;
            font-size: 1.7em;
            margin-right: 54px;
            color: $PurpScurp;
        }
        .faCog:hover {
            cursor: pointer;
        }
        .profileImg {
            grid-area: img;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: 10px;
        }
        .profileDetailsColumn {
            grid-area: detail;
            display: flex;
            flex-flow: column nowrap;
            margin-top: 5px;
            span {
                margin-left: 1px;
            }
            .username {
                font-size: 1.25em;
                margin-bottom: 2px;
            }
        }
        .editButton {
            grid-area: button;
            cursor: pointer;
            font-size: 1.05em;
            margin-top: 5px;
            width: 180px;
        }
    }  
}
.LikesListingsButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: $PurpScurp;
    margin:  0 auto;
    max-width: 660px;
    div {
        cursor: pointer;
        padding: 8px;
        font-size: 1.05em;
        margin: 0 10px;
    }
    .selected {
        padding-bottom: 6px;
        border-bottom: 2px solid $PurpScurp;
    }
}


@media screen and (min-width: 400px) {
    .profileWrapper {
        .profileContainer {
            .profileImg {
                margin-left: 50px;
            }
            .profileDetailsColumn {
                margin-left: 70px;
            }
        }
    }
    .LikesListingsButtons {
        div {
            margin: 0 40px;
        }
    }
}

@media screen and (min-width: 500px) {
    .profileWrapper {
        .profileContainer {
            .profileImg {
                margin-left: 100%;
            }
            .profileDetailsColumn {
                margin-left: calc(40% - 70px);
            }
        }
    }
}

@media screen and (min-width: 650px) {
    .profileWrapper {
        .profileContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: flex-end;
            .profileImg, .profileDetailsColumn, .editButton {
                margin: 0;
            }
        }
    }
}