@import '../../styles/_RootSettings';

.profileWrapper {
    background: $WhiteIsh;
    .lg-element {
        display: none;
    }
    .profileContainer {
        background: $MoreWhite;
        border-radius: 8px;
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 20% 80%;
        grid-column-gap: 20px;
        grid-template-areas: 
            "faCog faCog"
            "img detail";
        padding: 20px 0 50px;
        max-width: 800px;
        .faCog {
            grid-area: faCog;
            font-size: 1.7em;
            margin-right: 54px;
            color: $PurpScurp;
        }
        .faCog:hover {
            cursor: pointer;
        }
        .profileImg {
            grid-area: img;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: 10px;
        }
        .iconImg {
            grid-area: img;
            background: rgba(0,0,0,0.2);
            width: 80px;
            height: 80px;
            padding: 15px;
            border-radius: 50%;
            margin-left: 15px;
        }
        .profileDetailsColumn {
            grid-area: detail;
            display: flex;
            flex-flow: column nowrap;
            margin-top: 5px;
            span {
                margin-left: 1px;
                font-size: 0.9em;
            }
            .username {
                font-size: 1.25em;
                margin-bottom: 2px;
            }
        }
        .editButton {
            grid-area: button;
            cursor: pointer;
            font-size: 1.05em;
            margin-top: 5px;
            width: 180px;
        }
    }  
}
.LikesListingsButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: $PurpScurp;
    margin:  0 auto;
    max-width: 660px;
    div {
        cursor: pointer;
        padding: 8px;
        font-size: 1.05em;
        margin: 0 10px;
    }
    .selected {
        padding-bottom: 6px;
        border-bottom: 2px solid $PurpScurp;
    }
}


@media screen and (min-width: 360px) {
    .profileWrapper {
        .profileContainer {
            .profileImg {
                margin-left: 10vw;
            }
            .profileDetailsColumn {
                margin-left: 15vw;
            }
        }
    }
    .LikesListingsButtons {
        div {
            margin: 0 45px;
        }
    }
}
@media screen and (min-width: 400px) {
    .profileWrapper {
        .profileContainer {
            .profileImg {
                margin-left: 14vw;
            }
            .profileDetailsColumn {
                margin-left: 18vw;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .profileWrapper {
        .profileContainer {
            .profileImg {
                margin-left: 70%;
                width: 120px;
                height: 120px;
            }
            .iconImg {
                width: 100px;
                height: 100px;
                padding: 20px;
                margin-left: 90%;
            }
            .profileDetailsColumn {
                margin-left: calc(40% - 70px);
                justify-content: center;
                span {
                    font-size: 1.0em;
                }
                .username {
                    font-size: 1.4em;
                }
            }
        }
    }
}

@media screen and (min-width: 648px) {
    .profileWrapper {
        .profileContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 50px 0 80px;
            .profileImg, .profileDetailsColumn, .editButton, .deleteButton, .profileButtonsContainer {
                margin: 0;
            }
            .profileButtonsContainer {
                display: flex;
                flex-flow: column nowrap;
                .editButton, .deleteButton {
                    margin: 0 10px;
                    padding-left: 15px;
                }
                .editButton {
                    margin-bottom: 10px;
                    padding-left: 2px;
                }
            }
        }
        .sm-element {
            display: none;
        }
        .lg-element {
            display: block;
        }
    }
}