.Footer {
    outline: 1px solid orange;
    background: rgba(1,1,1,0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    left:0;
    bottom:0;
    right:0;
}