@import '../../styles/_RootSettings';

.PopupWrapper {
    position: fixed;
    top: 15vh;
    left: calc(50vw);
    width: 300px;
    max-width: 300px;
    transform: translateX(-50%);
    padding: 25px;
    background: $MoreWhite;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: large;
}

.Success {
    // background: rgba(111, 211, 86, 0.897);
}

.Info {
    // background: $MoreWhite;
}

.Error {
    // background: rgba(192, 89, 89, 0.8);
}
