@import '../../../../styles/_RootSettings';

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    top: 0;
    background: $PaleBanana;
    color: $PurpScurp;
}

.Logo {
    font-family: $CurlyFont;
    font-size: 1.6em;
}