@import '../../../../styles/_RootSettings';

.NavBar {
    display: flex;
    height: 50px;
    top: 0;
    color: $PurpScurp;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    // justify-content: space-evenly;
    // align-items: center;
    // grid-template-areas:
    //     "Logo Other"
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    font-family: $CurlyFont;
    font-size: 1.6em;
    margin-left: 30px;
}

.Hamburger {
    margin-right: 30px;
    cursor: pointer;
}

.Hamburger:hover {
    cursor: pointer;
}

.menu-container {
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(233, 233, 42, 0.781);
    width: 100vw;
    padding: 10px;
}

.NavBar > .sm {
    background: $WhiteIsh;
}

.NavBar > .Hamburger {
    background: none;
}

.menu-li {
    padding: 10px 0;
    font-size: 1.2em;
    color: $PurpScurp;
}

.menu-li:hover {
    cursor: pointer;
}

.lg {
    display: none;
    visibility: hidden;
    position: static;
}

@media screen and (min-width: 648px) {
    .NavBar {
        .Logo {
            margin-left: 60px;
            font-size: 1.9em;
        }
    }
    .sm {
        display: none;
        visibility:hidden;
        position: static;
    }

    .lg {
        display: block;
        visibility: visible;
    }

    .menu-container {
        margin-right: 0;
        padding: 0 15px 0 0;
        background: none;
        width: auto;
    }

    .menu-ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .menu-li {
        padding: 0 10px;
    }
}