$PalePurpScurp: rgba(219, 0, 255, 0.76);
$PurpScurp: #DB00FF;
$PaleBanana: rgba(255, 245, 0, 0.41);
$Banana: #FFF500;
$CurlyFont: 'Pattaya', sans-serif;

*, html, body {
    margin: 0 auto;
	padding: 0;
	border: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
	list-style-type: none;
}

.button {
	text-decoration: none;
    background: $PurpScurp;
	padding: 5px 10px;
	border-radius: 5px;
	color: $Banana;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-weight: 400;
	font-size: 1.05em;
}

.button:hover {
	cursor: pointer;
}

.small-caps-purple {
    font-variant: small-caps;
    text-decoration: none;
    color: $PurpScurp;
	font-size: 1.2em;
}

.copyright {
	position: absolute;
	bottom: 10px;
	font-size: 0.9em;
}

