@use './RootSettings';
@use '../components/App/_App';
@use '../components/LandingPage/LandingPage';
@use '../components/LandingPage/Login/Login';
@use '../components/Register/Register';
@use '../components/App/Layout/NavBar/NavBar';
@use '../components/Listings/Listings';
@use '../components/Listings/Listing/Listing';
@use '../components/App/Layout/Layout';
@use '../components/Footer/Footer';
@use '../components/Profile/Profile';


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');