.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr 3.1fr 0.2fr 0.8fr;
    grid-template-rows: 0.3fr 0.1fr 1.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "Header Header Header Header Header"
      "NavBar NavBar NavBar NavBar NavBar"
      ". . GetListings . .";
  }
  
  .Header { grid-area: Header; }
  
  .NavBar { grid-area: NavBar; }
  
  .GetListings { grid-area: GetListings; }
  