@import '../../../styles/_RootSettings';

.Login-Container {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 40px;
    grid-template-areas: 
    "login"
    "signup";
}

.Login {
    grid-area: login;
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-template-areas: 
    "email"
    "password"
    "login";
}

.Login > * {
    font-variant: small-caps;
    font-size: 1.1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 5px;
}

.text-input {
    grid-area: email;
    color: black;
}

.text-input:nth-of-type(2) {
    grid-area: password;
}

.lowercase {
    font-variant: normal;
}