@import '../../../styles/_RootSettings';

.Login-Container {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 40px;
    grid-template-areas: 
    "login"
    "signup";
}

.Login {
    grid-area: login;
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-template-areas: 
    "email"
    "password"
    "login";
}

.text-input {
    grid-area: email;
    color: black;
}

.text-input:nth-of-type(2) {
    grid-area: password;
}